<%- include("../partials/head"); %>

<body>
  <header class="TopNav sticky-top">
    <div class="TopNav_LeftNav">
      <div>
        <button>
          <!-- <svg xmlns="/assets/icons/menu-burger"></svg> -->
        </button>
      </div>
      <div><h2>Logo</h2></div>
      <div><h1>Nav-Bar{different-topics}</h1></div>
    </div>

    <div class="TopNav_RightNav">
      <div><h1>Search-bar</h1></div>
      <div><h1>Dashboard</h1></div>
      <div><h1>My-Profile</h1></div>
    </div>
  </header>