html, body {
    margin: 0;
    padding: 0;
    font-family: 'Newsreader', serif;
    background-color: #F7F9FA;
    background-color: #EFF1F2;
}

/* Nav bar styling */
.navbar-custom {
    background-color: #263238;
}

.navbar-custom i, .navbar-custom a {
    color: #FFFFFF;
}

.dropdown-menu a {
    color: #263238;
}

.navbar-custom h4 {
    color: #FFFFFF;
    margin-bottom: 0;
}

/* Forms styling */
.RegistrationForm, .LoginForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.user-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: center;
    border-radius: 5px;
    background-color: #FFFFFF;
    justify-content: center;
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#registration-form_title, #login-form_title, #profile-form_title, #article-form_title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #263238;
}

#registration-form_contents, #login-form_contents, #profile-form_contents {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    margin-left: 40px;
    margin-right: 40px;
    column-gap: 50px;
}

#registration-form_contents, #login-form_contents, #profile-form_contents label {
    font-size: 30px;
    color: #5F7A87;
}

/* Profile, Dashboard, Article forms styling */
.Profile, .Dashboard, .Article, .Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 600px 50px 600px;
}

#profile-page_welcome, #dashboard-page_welcome, #article-page_welcome {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    color: #263238;
} 

.profile-container, .dashboard-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
}

.form-control {
    background: #F9F9F9;
}

/* Article page styling */
.article-container {
    display: flex;
    flex-direction: column;
    /* width: 500px; */
    border-radius: 5px;
    background-color: #FFFFFF;
    justify-content: center;
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.article-metadata {
    display: flex;
    margin: 30px 30px 30px 30px;
    flex-direction: column;
    text-align: start;
}

#article-title {
    display: flex;
    justify-content: start;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #263238;
}

#article-img {
    display: flex;
    justify-content: center;
}

#article-img img {
    height: 100%; 
    width: 100%; 
    display:block;
}

#article-content {
    text-align: start;
    margin: 0px 30px 30px 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

/* 
colour pallettes
dark blue #1A2327
Blue-grey #263238
gold #E6CE55
red #DC2C96
green #9DFF00
white #FFFFFF
orange #FD971F 
purple #B78AFF
light blue #2EDCFF
grey blue comments #5F7A87
*/