html, body {
    margin: 0;
    padding: 0;
}
.TopNav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.TopNav_LeftNav {
    flex: 1;
    background-color: aquamarine;
    justify-content: start;
}
.TopNav_RightNav {
    flex: 1;
    background-color: blue;
    justify-content: end;
}