<%- include("../partials/header"); %>

<div class="Dashboard">
    <div id="dashboard-page_welcome">
        <h1>Welcome to your Dashboard!</h1>
      </div>
</div>

<%- include("../partials/footer"); %>