<%- include("../partials/header"); %>

<div class="Profile">
    
  <div id="profile-form_title">
    <h1>Welcome back, <span style="color:#9DFF00"><%= user.firstName %></span>!</h1>
    <img src="/icons/cat.png">
  </div>
  
</div>

<%- include("../partials/footer"); %>